html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
button:focus,
input:focus {
  outline: transparent;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
body{
  font-weight: 400;
  font-family: 'Yeseva One', sans-serif;
  font-size: 15px;
  color: #000;
}
.container{
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto; 
}
.btn{
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
  line-height: 18px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  background: linear-gradient(90deg,#E3B873,#E7B464,#E8AE51,#E3B873);
  background-size: 400%;
  color: #fff;
  &:hover{
    animation: btn_anim 8s linear infinite;
  }
}
@keyframes btn_anim {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
.title{
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.suptitle{
  max-width: 30px;
  height: 28px;
  margin: 0 auto;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: $gold;
    top: 50%;
    left: -100%;
    transform: translate(-50%);
  }
  &:after{
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: $gold;
    top: 50%;
    right: -100%;
    transform: translate(50%);
  }
}
