@media(max-width:1275px){
  .header__menu{
    margin-right: 45px;
    li + li{
      margin-left: 20px;
    }
  }
  .form-options{
    #test-form{
      transform: translate(0,0);
    }
  }
  .options__inner{
    justify-content: space-evenly;
    margin-bottom: 125px;
  }
  .options__plan-inner {
    padding-top: 0px;
}
  .options__item{
    margin-top: 30px;
  }
  .projects-slider {
    margin-right: 15px;
  }
  .options__plan-wrapper{
    display: none;
  }
  .form-options{
    margin: 0 auto;
  }
  .project__inner{
    justify-content: space-evenly;
  }
  .realize-slider{
    display: none;
  }
  .realize-list{
    margin: 0 auto;
  }
  .realize-title{
    margin: 0 auto 47px;
  }
}
@media(max-width:1160px){
  .header__logo{
    margin-right: 50px;
  }
  .header__phone-number{
    margin-right: 25px;
  }
  .header__menu{
    margin-right: 25px;
  }
  .projects__inner {
    display:initial;
  }
  .projects-slider{
    margin: 0 auto;
  }
  .slick-slider {
    margin: 0 auto;
  }
  .slick-dots {
    margin-bottom: 40px;
  }
  .slick-prev,
  .slick-next{
    bottom: 64px;
  }
}
@media(max-width:1075px){
  .header__logo{
    margin-right: 25px;
  }
 #test-form-adress{
  padding: 33px 49px 27px;
    li{
      width: 100%;
      max-width: 100%;
      margin-top: 63px;
      &:first-child{
        margin-top: 0;
        }
    }
  .form-list__wrapper{
    display: initial;
    }
  }
  .form-options__discount{
    display: none;
  }
  .header__phone-number{
    margin-right: 15px;
  }
  .header__menu{
    margin-right: 15px;
  }
.header__menu{
    display: none;
  }
  .header__phone-number{
   margin-left: auto;
  }
  .realize-info__list{
    display: none;
  }
  .team__item-wrapper{
   &:last-child{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
  } 
  .stepByStep__slider-thumbs{
    display: none;  
  }
  .stepByStep__plan-wrapper{
    display: none;
  }
}
@media(max-width:960px){
  .project{
    padding-top: 153px;
    margin-bottom: -0px;
    padding-bottom: 200px;
  }
  .team{
    background-color: #131313;
    padding-top: 30px;
    padding-bottom: 88px;
    margin-top: 0;
  }
  .team-content{
    color: #ffffff;
  }
  .stepByStep{
    display: none;
  }
}
@media(max-width:810px){
  .stream{
    background-color: #131313;
  }
  .options__inner{
    .options__item + .options__item{
      margin-left: 0px;
    }
  }
  .options__list-title,
  .project__list-title{
    line-height: 138.6%;
    font-size: 15px;
  }
  .options__list,
  .project__list {
    max-width: 270px;
    left: 10%;
    transform: translateX(0);
    padding: 21px 41px 37px 31px;
  }
  .options__inner{
    margin-bottom: 125px;
  }
  .options__list-item,
  .project__list-item{
    line-height: 169.8%;
    font-size: 13px;
  }
  .options-price-btn,
  .project-price-btn{
    font-size: 15px;
    line-height: 138.6%;
  }
  .options{
    padding-bottom: 0px;
  }
  .stream-text {
    color: #fff;
}
.form-options {
  display: none;
}
.form-agree {
  color: #ffffff;
}
.stream-form__list{
  flex-direction: column;
  padding: 0 15px;
  li{
    width: 60%;
  }
  label{
    color: rgba(255, 255, 255, 0.5);
  }
  input{
    border-bottom: 1px solid #fff;
    background-color: #131313;
    width: 100%;
    margin-bottom: 63px;
    &::placeholder{
      color: #ffffff;
      font-size: 18px;
      line-height: 138.72%;
      }
    } 
  }
  .stream-form__btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%,50%);
  }

  .team__item-wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
}
@media(max-width:625px){
  .aside-link{
    display: none;
  }
  .page-down{
    display: none;
  }
  .firstPage__content{
    margin-left: 0px;
  }
  .realize-title{
    line-height: 138.6%;
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
  }
  .realize-list{
    a{
      line-height: 158.4%;
      font-size: 15px;
    }
  }
}
@media(max-width:540px){
  .header__btn-popup{
   display: none;
  }
  .header__phone-number{
    color: #ffffff;
    text-decoration: none;
    margin-right: 0;
   }
   .header__logo {
    margin-right: 0px;
}
}
@media(max-width:495px){
  .firstPage__content-title{
    font-size:30px;
  }
  .firstPage__content-text{
    line-height: 135.84%;
    font-size: 18px;
  }
  .firstPage__content-btn-price{
    width: 100%;
    text-align: center;
    margin-bottom: 26px;
    line-height: 15px;
    font-size: 13px;
  }
  .firstPage__content-btn-popup{
    width: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
  }
  #test-form-adress{
    .form-agree{
      line-height: 18px;
      font-size: 13px;
      margin: 46px -40px 39px;
      
    }
  }
  .adress-text{
    line-height: 138.6%;
    font-size: 18px;
  }
}

@media(max-width:465px){
  .projects__item-title{
    font-size: 22px;
    line-height: 138.6%;
    letter-spacing: -0.07em;
  }
  .projects__item-text{
    font-size: 14px;
    line-height: 158.48%;
  }
  .projects__list-item-title{
    font-size: 14px;
    line-height: 138.6%;
  }
  .projects__list-item-suptitle{
    font-size: 14px;
    line-height: 135.84%;
  }
  .form-agree, .stream-text {
    line-height: 169.8%;
    font-size: 14px;
  }
  .stream-form__list{
    li{
      width: 100%;
    }
  }
}
@media(max-width:395px){
  .slick-next {
    left: 32%;
  }
}
@media(max-width:365px){
  .firstPage__content-title{
    font-size: 23px;
    line-height: 132.83%;
  }
  .stream-form__btn{
    max-width: 280px;
  }
  .team__item-icon{
    transform: translate(-15%,-70%);
  }
}
@media(max-width:335px){
  .slick-next {
    left: 38%;
  }
}
@media(min-width:1075px){
  .header__menu{
    display: flex;
  }
}