@import 'vars';
@import 'fonts';
@import 'global';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header,
.footer{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #131313;
  padding-top: 35px;
  padding-bottom: 30px;
}
.header__inner{
  display: flex;
  align-items: center;
}
.header__logo{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $gold;
  margin-right: 90px;
}
.header__menu{
  display: flex;
  align-items: center;
  margin-right: 65px;
  li{
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #E3B873;
    }
  }
  li + li{
    margin-left: 40px;
  }
}
.header__phone-number{
  margin-right: 45px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  font-size: 14px;
  color: $gold;
}
.header__btn-popup{
  padding: 13px 20px;
}
#test-form{
  padding: 33px 49px 27px;
  margin: 0 auto;
  background-color: #131313;
  width: 100%;
  max-width: 510px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: right;
  background-image: url(../img/bg-lines.png);
}

.test-form__title{
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  max-width: 362px;
  margin: 0 auto 34px;
}
.test-form__list{
  li + li{
    margin-top: 48px;
    margin-bottom: 16px;
  }
  li{
    &:last-child{
      margin-bottom: 16px;
    }
    border-bottom: 1px solid rgba(#fff,.3);
    label{
      font-size: 15px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      display: block;
      margin-bottom: 7px;
      text-align: left;
      font-weight: 300;
    }
    input{
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0 20px 7px 0;
      color: $gold;
      &::placeholder{
        color: #fff;
      }
    }
  }
}
.form-agree{
  text-align: left;
  padding-left: 26px;
  position: relative;
  cursor: pointer;
  margin-bottom: 39px;
  &:before{
    content: '';
    position: absolute;
    transition: all .2s;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background-color: #fff;
  }
  &:after{
    content: "\e900";
    font-family: 'icomoon';
    position: absolute;
    left: 0px;
    top: -4px;
    font-size: 19px;
    color: #fff;
  }
}
.form-agree.active{
  &:before{
    background-color: $gold;
  }
}
.test-form__btn{
  padding: 19px 35px;
}
// --------------------------
.firstPage{
  color: #fff;
  padding-top: 195px;
  padding-bottom: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #131313;
  position: relative;
  &:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
  } 
}
.aside-link{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  span{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    transform: rotate(90deg);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $gold;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 50%;
      right: -110%;
      transform: translate(-50%,0);
      width: 51px;
      height: 1px;
      background-color: $gold;
    }
  }
}
.firstPage__inner{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
}
.firstPage__content{
  max-width: 505px;
  margin-left: 100px;
}
.firstPage__content-title{
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 20px;
  span{
    color: $gold;
  }
}
.firstPage__content-text{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 41px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.firstPage__content-btn-price{
  padding: 13px 26px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  background: linear-gradient(90deg,#E3B873,#E7B464,#E8AE51,#E3B873);  
  border: 1px solid transparent;
  color: #fff;
  transition: all .2s;
  &:hover{
    border: 1px solid #fff;
    background: transparent;
  }
}
.firstPage__content-btn-popup{
  padding: 13px 26px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all .2s;
  &:hover{
    background: linear-gradient(90deg,#E3B873,#E7B464,#E8AE51,#E3B873);  
    border: 1px solid transparent;
  }
}
.page-down{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px 90px 40px 48px;
  background-color: #131313;
  z-index: 5;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 138.6%;
  &:after{
    content: "\f107";
    font-family: 'icomoon';
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: $gold;
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid $gold;
    animation: arrowAnim 1s infinite;
  }
}
@keyframes arrowAnim {
  from {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -60%, 0);
  }
}
// --------------------------
.projects{
  background-color: #131313;
  color: #fff;
  padding-top: 130px;
  padding-bottom: 405px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  background-image: url(../img/bg-lines.png);
}
.projects-slider{
  max-width: 440px;
  margin-right: 116px;
}
.projects__item-title{
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: $gold;
  max-width: 250px;
  margin-bottom: 35px;
  span{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      height: 1px;
      background-color: $gold;
      width: 92px;
      right: 0;
      transform: translateX(120%);
      bottom: 50%;
    }
  }
}
.projects__item-text{
  font-size: 18px;
  line-height: 29px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 45px;
}
.projects__list{
  display: flex;
  flex-wrap: wrap;
}
.projects__list-item{
  width: 50%;
  margin-bottom: 35px;
}
.projects__list-item-title{
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $gold;
}
.projects__list-item-suptitle{
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
.projects-slider__inner-item{
  padding-left: 15px;
}
.projects__inner{
  display: flex;
  height: 500px;
}
.slick-dots{
  display: flex;
  margin-left: 50px;  
  .slick-active{
    &::before{
      background-color: rgba(#fff,1);
    }
  }
  button{
    font-size: 0;
    border: none;
    outline: none;
    padding: 0;
  }
  li{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(#fff,.3);
    }
  }
  li + li {
    margin-left: 18px;
  }
}
.slick-prev,
.slick-next{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  font-size: 0;
  position: relative;
  &:before{
    content: "";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #ffffff;
  }
}
.slick-prev{
  position: absolute;
  bottom: 24px;
  left: 0;
  &:before{
    content: "\f177";
  }
}
.slick-next{
  position: absolute;
  right: 76%;
  bottom: 24px;
  &:before{
    content: "\f178";
  }
}
.project__slider-thumbs{
  max-width: 679px;
  img{
    width: 100%;
    max-width: 679px;
    max-height: 482px;
  }
}
//-----------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------
.stream{
  margin-top: -265px;
  padding-bottom: 70px;
  position: relative;
}
.stream-title{
  color: #ffffff;
  margin-bottom: 25px;
}
.stream-suptitle{
  margin-bottom: 31px;
}
.stream-img-wrapper{
  text-align: center;
  padding: 0 20px;  
  img{
    width: 100%;
  }
}
.stream-img{
  position: relative;
  max-width: 817px;
  width: 100%;
  margin-bottom: 100px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background: rgba(0,0,0,.5);
    z-index: 2;
  } 
}
.stream-text{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  color: #363636;
  width: 100%;
  max-width: 571px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
  &:before{
    content: '';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 1px;
    background-color: $gold;
  }
}
.stream-form{
  max-width: 780px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  .form-agree-wrapper{
    text-align: center;
  }
  .form-agree{
    display: inline-block;
    margin: 0;
  }
}
.stream-form__list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  li{
    width: 231px;
  }
  label{
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    margin-bottom: 5px;
  }
  input{
    width: 100%;
    padding-bottom: 8px;
    padding-right: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    &::placeholder{
      font-size: 18px;
      line-height: 24px;
      color: #363636;
    }
  }
}
.stream-form__btn{
  padding: 13px 60px;
  max-width: 340px;
}
//-----------------------------------------------------------------------------------------------------------

.options{
  padding-top: 70px;
  padding-bottom: 300px;
}
.options-title{
  margin-bottom: 13px;
}
.options-suptitle{
  margin-bottom: 31px;
}
.options__inner,
.project__inner{
  display: flex;
  flex-wrap: wrap;
}
.options__inner{
  .options__item + .options__item{
    margin-left: 35px;
  }
}
.options__item-img,
.project__item-img{
  width: 392px;
  height: 421px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.options__item,
.project__item{
  position: relative;
  margin-bottom: 160px;
}
.options__list,
.project__list{
  max-width: 330px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 66px 49px 34px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  li{
    line-height: 25px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #959595;
    }
  }
  li + li{
    margin-top: 8px;
  }
}
.options__list-title,
.project__list-title{
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 13px;
}
.options-price-btn,
.project-price-btn{
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: $gold;
  padding: 17px 21px;
  margin-top: 22px;
  position: absolute;
  left: 0;
}
.options__plan{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  position: relative;
}
.options__plan-wrapper{
  width: 50%;
}
.options__plan-inner{
  display: flex;
  padding-top: 125px;
}
.option-plan__text1,
.option-plan__text2,
.option-plan__text3,
.option-plan__text4{
  font-size: 15px;
  line-height: 21px;
  color: #363636;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  max-width: 364px;
  position: absolute;
}
.option-plan__number1,
.option-plan__number2,
.option-plan__number3,
.option-plan__number4{
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
}
.option-wrapper-svg{
  position: relative;
}
.option-plan__number1{
  right: 38%;
  top: 11%;
}
.option-plan__text1{
  right: -25.5%;
  top: 10%;
}
.option-plan__number2{
  right: 26%;
  top: 28.5%;
}
.option-plan__text2{
  right: 0%;
  top: 29%;
}
.option-plan__number3{
  right: 21.6%;
  bottom: 42.6%;
}
.option-plan__text3{
  right: -11.5%;
  bottom: 42.9%;
}
.option-plan__number4{
  right: 32.3%;
  bottom: 17.7%;
}
.option-plan__text4{
  right:-12.5%;
  bottom: 16.6%;
  max-width: 256px;
}
.form-options{
  width: 50%;
  position: relative;
  #test-form{
    transform: translate(65px, 50px);
  }
}
.form-options__discount{
  display: flex;
  align-items: center;
  transform: translateY(200%);
  position: absolute;
  text-align: left;
}
.form__discount-img{
  position: absolute;
  left: -50px;
  top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $gold;
  img{
    width: 40px;
    height: 33px;
  }
}
.form__discount-text{
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  color: #E3B873;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  max-width: 318px;
  margin-left: 100px;
}
//-----------------------------------------------------------------------------------------------------------

.realize{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #131313;
  position: relative;
  padding-top: 140px;
  padding-bottom: 85px; 
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  } 
}
.realize-title{
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 47px;
  max-width: 411px;
  position: relative;
  z-index: 5;
}
.realize-list{
  position: relative;
  z-index: 5;
  max-width: 500px;
  a{
    transition: all .1s;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    line-height: 172.4%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    &:before{
      content: '';
      bottom: 0;
      left: 0;
      width: 70%;
      height: 1px;
      background-color: transparent;
      position: absolute;
     }
    &:hover{
      color: $gold;
      &:before{
        background-color: $gold;
      }
    }
  }
  li + li{
    margin-top: 14px;
  } 
}
.realize-wrapper{
  display: flex;
}
.realize-slider{
  width: 50%;
  margin-left: auto;
  position: relative;
  z-index: 5;
}
.realize-img{
  position: absolute;
}
.realize-img1{
  left: -20%;
  top: -60%;
}
.realize-img2{
  left: -20%;
  bottom: -30%;
}
.realize-img3{
  right: 0;
  top: -70%;
}
.realize-img4{
  right: 0;
  bottom: -13%;
}
//-----------------------------------------------------------------------------------------------------------
.project{
  padding-top: 153px;
  margin-bottom: -200px;
}
.project-title{
  margin-bottom: 12px;
}
.project-suptitle{
  margin-bottom: 18px;
}
.project-title__text{
  max-width: 741px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  color: #363636;
  line-height: 23px;
  margin-bottom: 44px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
} 
.project__inner{
  .project__item + .project__item{
    margin-left: 35px;
  }
}
.project-price-btn{
  bottom: 0;
  transform: translateY(50%);
  z-index: 100;
}
//-----------------------------------------------------------------------------------------------------------
.stepByStep{
  background-color: #131313;
  padding-top: 450px;
  padding-bottom: 470px;
  color: #ffffff;
}
.stepByStep-uptitle{
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 18px;
} 
.stepByStep-title{
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 92px;
  position: relative;
  &:after{
    content: '';
    background-color: $gold;
    position: absolute;
    bottom: 20px;
    right: 0;
    transform: translateX(110%);
    height: 1px;
    width: 92px;
  }
}
.stepByStep__title-wrapper{
  max-width: 160px;
}
.stepByStep__slider-inner{
  max-width: 340px;
  margin-right: 136px;
  .slick-next{
    right: 45%;
  }
}
.stepByStep__slider-item-pagination{
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.stepByStep__slider-item-title{
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 16px;
}
.stepByStep__slider-item-text{
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 21px;
}
.sliders__wrapper{
  display: flex;
}
.stepByStep__slider-thumbs{
  max-width: 805px;
  padding: 0 20px;
  width: 100%;
}
.stepByStep__slider-thumbs-img{
  width: 100%;
  max-width: 765px;
  height: 376px;
}
.stepByStep__plan-wrapper{
  max-width: 765px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: -12px;
}
.stepByStep__plan-item{
  width: 100%;
  max-width: 255px;
  margin-bottom: 37px;
  transition: all .2s;
}
.stepByStep__plan-title{
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: 'Yeseva One', sans-serif;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 17px;
  opacity: 0.1;
  &:before{
    content: '';
    position: absolute;
    width: 19px;
    height: 1px;
    background-color: $gold;
    left: 0;
    bottom: -5px;
  }
}
.stepByStep__plan-text{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  max-width: 127px;
  opacity: .1;
}
.stepByStep__slider-inner{
  margin-top: -200px;
}
.stepByStep__plan-item.active{
  .stepByStep__plan-text{
    opacity: 1;
  }
  .stepByStep__plan-title{
    opacity: 1;
  }
}
//-----------------------------------------------------------------------------------------------------------
.team{
  padding-bottom: 88px;
  margin-top: -335px;
}
.team-title{
  color: #ffffff;
  margin-bottom: 12px;
}
.team-suptitle{
  margin-bottom: 23px;
}
.team-title__text{
  font-size: 18px;
  line-height: 27px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 74px;
  max-width: 448px;
  color: #ffffff;
}
.team__inner{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team__item{
  position: relative;
  max-width: 272px;
}
.team__item-photo{
  width: 272px;
  height: 357px;
}
.team__item-icon{
  background-color: $gold;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}
.team__item-profile{
  text-align: center;
  transform: translateY(-50%);
  background-color: #ffffff;
  max-width: 233px;
  margin: 0 auto;
  padding-top: 22px;
}
.team__item-name{
  color: #181818;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 3px;
}
.team__item-profession{
  font-size: 14px;
  color: #959595;
  line-height: 26px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 24px;
}
.team__item-experience{
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: $gold;
  padding: 13px 23px;
}
.team-content{
  max-width: 568px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  color: #363636;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    width: 55px;
    height: 1px;
    background-color: $gold;
  }
}
//-----------------------------------------------------------------------------------------------------------

.clents{
  padding-bottom: 354px;
}
.clents-title{
  margin-bottom: 39px;
}
.team-suptitle{
  margin-bottom: 24px;
}
.clents-title__text{
  max-width: 360px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #363636;
  font-weight: 300;
  margin: 0 auto 38px;
}
.clents__item{
  max-width: 376px;
  padding: 24px 31px 63px 20px;
}
.clents__item-info{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.clents__item-photo{
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 23px;
}
.clents__item-name{
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  max-width: 200px;
}
.clents__item-text{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #959595;
  margin-bottom: 36px;
}
.clents__item-content{
  display: flex;
}
.clents__item-content-info{
  padding: 17px;
  padding-right: 14px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  background-color: $gold;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  img{
    margin-right: 15px;
  }
}
.clents__inner{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

//-----------------------------------------------------------------------------------------------------------
.adress{
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
  } 
  .test-form__list {
    li+li{
    margin-top: 0px;
    margin-bottom: 0px;
    }
  }
}

  #test-form-adress{
    position: relative;
    z-index: 5;
    transform: translateY(-50%);
    max-width: 883px;
    margin: 0 auto;
    background-color: #131313;
    background-image: url(../img/bg-lines.png);
    padding: 34px 181px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    .form-agree{
      display: inline-block;
      margin-top: 46px;
    }
    .test-form__btn{
      padding: 20px 54px;
    }
    .form-agree-wrapper{
      text-align: center;
    }
  }

.form-list__wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  li{
    max-width: 231px;
    width: 100%;
  }
}
.test-form__title{
  font-size: 20px;
  font-family: 'Yeseva One', sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 45px;
}
.adress-title{
  text-align: center;
  z-index: 5;
  position: relative;
  transform: translateY(-100%);
}
.adress-text{
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $gold;
  max-width: 589px;
  margin: 0 auto 26px;
}
.adress-title__icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
  li{
    background-color: $gold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a{
      color: #ffffff;
    }
  }
  li + li {
    margin-left: 20px;
  }
}
.adress-map{
  position: relative;
  padding: 0 20px;
  z-index: 5;
  iframe{
    width: 100%;
  }
}
//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'media';