@import 'vars';
@import 'fonts';
@import 'global';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #131313;
  padding-top: 35px;
  padding-bottom: 30px;
}
.header__inner{
  display: flex;
  align-items: center;
}
.header__logo{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $gold;
  margin-right: 90px;
}
.header__menu{
  display: flex;
  align-items: center;
  margin-right: 65px;
  li{
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #E3B873;
    }
  }
  li + li{
    margin-left: 40px;
  }
}
.header__phone-number{
  margin-right: 45px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  font-size: 14px;
  color: $gold;
}
.header__btn-popup{
  padding: 13px 20px;
}
#test-form{
  padding: 33px 49px 27px;
  margin: 0 auto;
  background-color: #131313;
  max-width: 510px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: right;
  background-image: url(../img/bg-lines.png);
}

.test-form__title{
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  max-width: 362px;
  margin: 0 auto 34px;
}
.test-form__list{
  li + li{
    margin-top: 48px;
    margin-bottom: 16px;
  }
  li{
    &:last-child{
      margin-bottom: 16px;
    }
    border-bottom: 1px solid rgba(#fff,.3);
    label{
      font-size: 15px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      display: block;
      margin-bottom: 7px;
      text-align: left;
      font-weight: 300;
    }
    input{
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0 20px 7px 0;
      &::placeholder{
        color: #fff;
      }
    }
  }
}
.form-agree{
  text-align: left;
  padding-left: 26px;
  position: relative;
  cursor: pointer;
  margin-bottom: 39px;
  &:before{
    content: '';
    position: absolute;
    transition: all .2s;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background-color: #fff;
  }
  &:after{
    content: "\e900";
    font-family: 'icomoon';
    position: absolute;
    left: 0px;
    top: -4px;
    font-size: 19px;
    color: #fff;
  }
}
.form-agree.active{
  &:before{
    background-color: $gold;
  }
}
.test-form__btn{
  padding: 19px 35px;
}
// --------------------------
.firstPage{
  color: #fff;
  padding-top: 195px;
  padding-bottom: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #131313;
  position: relative;
  &:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
  } 
  .aside-link{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
    span{
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      transform: rotate(90deg);
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $gold;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 50%;
        right: -110%;
        transform: translate(-50%,0);
        width: 51px;
        height: 1px;
        background-color: $gold;
      }
    }
  }
}
.firstPage__inner{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
}
.firstPage__content{
  max-width: 505px;
  margin-left: 55px;
}
.firstPage__content-title{
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 20px;
  span{
    color: $gold;
  }
}
.firstPage__content-text{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 41px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.firstPage__content-btn-price{
  padding: 13px 26px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  background: linear-gradient(90deg,#E3B873,#E7B464,#E8AE51,#E3B873);  
  border: 1px solid transparent;
  color: #fff;
  transition: all .2s;
  &:hover{
    border: 1px solid #fff;
    background: transparent;
  }
}
.firstPage__content-btn-popup{
  padding: 13px 26px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all .2s;
  &:hover{
    background: linear-gradient(90deg,#E3B873,#E7B464,#E8AE51,#E3B873);  
    border: 1px solid transparent;
  }
}
.page-down{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px 90px 40px 48px;
  background-color: #131313;
  z-index: 5;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 138.6%;
  &:after{
    content: "\f107";
    font-family: 'icomoon';
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: $gold;
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid $gold;
    animation: arrowAnim 1s infinite;
  }
}
@keyframes arrowAnim {
  from {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -60%, 0);
  }
}
// --------------------------



//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'media';